.image-main__subtitle{
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: 6px;

    color: #97db97;
    text-shadow: 2px 2px 4px rgba(31, 45, 31, 0.9);

    height: fit-content;
    padding: 0;
    margin: .3em 0;

    white-space: pre-wrap;
    overflow: hidden;
}


/* АДАПТИВ */
@media screen and (max-width: 1440px) {
    .image-main__subtitle{
        font-size: 42px;
        line-height: 58px;
        font-weight: 500;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 1024px) {
    .image-main__subtitle{
        font-size: 36px;
        line-height: 48px;
        font-weight: 500;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 544px) {
    .image-main__subtitle{
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 1px;
    }
}