.card__subtitle{
    font-weight: bold;
    color: #d04d4d;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;

    white-space: nowrap;
}

.card__subtitle:after{
    content: '₽';
}