.card__bg {
    height: 128px;
    width: 128px;
    background-color: #7fd1d2;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/*ЦВЕТА*/
.card:nth-child(2n) .card__bg {
    background-color: #7fd280;
}
.card:nth-child(3n) .card__bg {
    background-color: #d2807f;
}
.card:nth-child(4n) .card__bg {
    background-color: #807fd2
}
.card:nth-child(5n) .card__bg {
    background-color: #f9b234;
}
.card:nth-child(6n) .card__bg {
    background-color: #4c49ea;
}