.contacts__box-link{
    grid-area: link;
    color: #2b3023;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-decoration: none;
}

.contacts__box-link:hover {
    color: #d04d4d;
}

@media screen and (max-width: 1280px) {
    .icon-group .contacts__box-link{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .icon-group .contacts__box-link{
        display: flex;
    }
}

@media screen and (max-width: 546px) {
    .icon-group .contacts__box-link{
        display: none;
    }
}

@media screen and (max-width: 546px) {
    .contacts__box-link{
        font-size: 19px;
    }
}

@media screen and (max-width: 320px) {
    .contacts__box-link{
        font-size: 14px;
    }
}