.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 1em 0 0;
}

@media screen and (max-width: 980px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1em;
    }
}

@media screen and (max-width: 472px) {
    .cards{
        grid-template-columns: 1fr;
    }
}