.prices{
    display: flex;
    flex-direction: column;
    width: calc(100% - 86px);
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 890px) {
    .prices{
        width: calc(100% - 42px);
    }
}