.image-main__subtitle{
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 6px;

    color: #97db97;
    text-shadow: 2px 2px 4px rgba(31, 45, 31, 0.9);
    padding: 0;
    margin: .3em 0;

    border-right: solid 3px #d04d4d;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.image-main__subtitle {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */
@keyframes animated-text{
    from{width: 0;}
    to{width: 555px}
}

/* cursor animations */
@keyframes animated-cursor{
    from{border-right-color: #97db97;}
    to{border-right-color: transparent;}
}


/* АДАПТИВ */
@media screen and (max-width: 1440px) {
    .image-main__subtitle{
        font-size: 42px;
        line-height: 42px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    /* text animation */
    @keyframes animated-text{
        from{width: 0;}
        to{width: 420px}
    }
}

@media screen and (max-width: 1024px) {
    .image-main__subtitle{
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
    }

    /* text animation */
    @keyframes animated-text{
        from{width: 0;}
        to{width: 365px}
    }
}

@media screen and (max-width: 544px) {
    .image-main__subtitle{
        font-size: 28px;
    }

    /* text animation */
    @keyframes animated-text{
        from{width: 0;}
        to{width: 272px}
    }
}